ion-card-title {
  font-weight: normal;
  font-size: 1.1rem;
}

ion-chip.grade {
  color: var(--ion-color-yellow);
  background: var(--ion-color-yellow-shade);
}

ion-icon[name="ellipsis-horizontal"] {
  padding: 0 0 7px 7px;
}

ion-icon[name="ellipsis-horizontal"]:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  ion-card {
    max-width: 100%;
  }
}
