<ion-card class="ion-no-margin">
	<ion-card-header class="d-flex justify-content-between">
		<div class="d-flex">
			<ion-checkbox
					color="primary"
					[(ngModel)]="counts"
					(ionChange)="countsClicked.emit(counts)"
					class="ion-margin-end"
			></ion-checkbox>
			<ion-card-title>{{ this.gradeEntry.course }}</ion-card-title>
		</div>
		<div class="icon-container">
			<ion-icon name="create-outline" class="ion-margin-end"
					  (click)="editClicked.emit(this.gradeEntry)"></ion-icon>
			<ion-icon name="trash-outline"
					  (click)="deleteClicked.emit(this.gradeEntry)"></ion-icon>
		</div>
	</ion-card-header>

	<ion-card-content>
		<ion-chip [color]="evaluateColor()">{{
			this.gradeEntry.grade | number: "1.1-1"
			}}</ion-chip>
		<ion-chip color="medium" outline="true">{{
			this.gradeEntry.semester
			}}</ion-chip>
		<ion-chip color="medium" outline="true">
			{{ this.gradeEntry.credits }} Credits
		</ion-chip>
	</ion-card-content>
</ion-card>
