.number-content {
  padding-right: 20px;
  font-size: .9rem;

  &__text{
	&:not(:last-child) {
	  margin-right: 1rem;
	}
	&--primary {
	  color: var(--ion-color-primary);
	}
  }
}

a {
  &:hover {
	text-decoration: none;
  }

  &:focus {
	text-decoration: none;
  }
}
