<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button title="Add grade" tab="create-edit">
			<ion-icon name="add-outline"></ion-icon>
			<ion-label>Hinzufügen/Ändern</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="home">
			<ion-icon name="reader-outline"></ion-icon>
			<ion-label>Übersicht</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="import">
			<ion-icon name="cloud-upload-outline"></ion-icon>
			<ion-label>Importieren</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>
