<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title color="primary">
            <ion-icon name="school" color="primary" class="mr-2"></ion-icon>
            GradeSum
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="container">
        <ion-card class="text-center">
            <ion-card-header>
                <ion-card-title>Your current GPA</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-text color="primary"><h1>{{this.currentGPA | number:'1.1'}}</h1></ion-text>
            </ion-card-content>
        </ion-card>
        <div>
            <ion-card-header class="ion-text-center">
                <ion-button color="primary" (click)="showCreateGradePopover($event)">
                    <ion-icon name="add-outline"></ion-icon>
                    New Grade
                </ion-button>
            </ion-card-header>
            <app-grade-card *ngFor="let gradeEntry of currentGrades" [gradeEntry]="gradeEntry"></app-grade-card>
        </div>
    </div>

</ion-content>
