<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title color="primary">
            <ion-icon name="school" color="primary" class="mr-2"></ion-icon>
            UniGrade
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="container">
        <ion-card class="text-center gpa-card">
            <ion-card-content>
                <h1>
                    Your current GPA: <span class="gpa">{{this.currentGPA | number:'1.1'}}</span>
                </h1>
            </ion-card-content>
        </ion-card>
        <div class="text-center">
            <ion-button color="primary" (click)="presentModal()">
                <ion-icon name="add-outline"></ion-icon>
                New Grade
            </ion-button>
        </div>
        <div class="grade-card-container">
            <app-grade-card *ngFor="let gradeEntry of currentGrades" [gradeEntry]="gradeEntry"></app-grade-card>
        </div>
    </div>

</ion-content>
