<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title color="primary">
            <ion-icon name="school" color="primary" class="mr-2"></ion-icon>
            UniGrade
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button color="primary" (click)="presentCreateEditModal()">
                <ion-icon name="add-outline"></ion-icon>
                Add Grade
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="container">
        <ion-card class="text-center gpa-card">
            <ion-card-content>
                <ion-text class="current-numbers">
                    Your current GPA: <span class="gpa">{{this.currentGPA | number:'1.1-1'}}</span>
                    <hr>
                    Total earned Credits: <span class="credits">{{this.totalEcts}}</span>
                </ion-text>
            </ion-card-content>
        </ion-card>
        <ion-toolbar>
            <ion-searchbar *ngIf="currentGrades" showCancelButton="focus" inputmode="text" [(ngModel)]="searchTerm"
                           (ionChange)="getFilteredGrades()"></ion-searchbar>
        </ion-toolbar>
        <ion-grid class="grade-card-container" *ngIf="currentGrades?.length">
            <ion-row>
                <app-grade-card *ngFor="let gradeEntry of currentGrades" [gradeEntry]="gradeEntry"
                                (editClicked)="presentCreateEditModal(gradeEntry)"
                                (deleteClicked)="presentAlertDelete(gradeEntry)"></app-grade-card>
            </ion-row>
        </ion-grid>
        <div *ngIf="!currentGrades?.length" class="center-container ion-text-center">
            <div>
                <ion-text>
                    <p>No grades yet!</p>
                </ion-text>
            </div>
            <div>
                <ion-button color="primary" (click)="presentCreateEditModal()">
                    <ion-icon name="add-outline"></ion-icon>
                    Add Grade
                </ion-button>
            </div>
        </div>
    </div>

</ion-content>
