form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-text {
	color: var(--ion-color-danger);
	font-size: 0.7rem;
}

ion-button [type="submit"] {
	margin-right: 10px;
}
