form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ion-item {
    border-bottom: 1px solid var(--ion-color-light);
}

ion-text {
    text-align: left;
    color: var(--ion-color-danger);
    font-size: 0.7rem;
}

ion-button [type='submit'] {
    margin-right: 10px;
}
