<div class="center-container container">
	<ion-item-group>
		<ion-title>Noten exportieren</ion-title>
		<ion-item lines="none">
			<ion-label position="floating">Dateiname wählen (.csv)</ion-label>
			<ion-input type="text" value="uni-grade.csv" #fileName pattern=".*\.csv"></ion-input>
		</ion-item>
		<div class="ion-text-center ion-margin-top">
			<ion-button
					color="secondary"
					title="Export as CSV"
					(click)="exportGrades(fileName.value)"
			>
				Export
			</ion-button>
			<ion-button [routerLink]="['../../home']" fill="clear" color="medium">
				Zurück
			</ion-button>
		</div>
	</ion-item-group>
	<ion-item-divider class="ion-margin-bottom"></ion-item-divider>
	<ion-item-group>
		<ion-title>Noten importieren (CSV)</ion-title>
		<ion-item lines="none">
			<input type="file" (change)="loadFile($event)" accept="text/csv"/>
		</ion-item>
		<ion-item lines="none">
			<ion-checkbox
					color="secondary"
					slot="start"
					checked="true"
					[(ngModel)]="keepGrades"
			></ion-checkbox>
			<ion-label class="ion-text-wrap checkbox-label">Bestehende Noten behalten</ion-label>
		</ion-item>
		<div class="ion-text-center ion-margin-top">
			<ion-button color="secondary" [disabled]="!file" (click)="importGrades()">
				Import
			</ion-button>
			<ion-button [routerLink]="['../../home']" fill="clear" color="medium">
			Zurück
		</ion-button>
		</div>
	</ion-item-group>

</div>
