ion-item.import-item {
    label {
        margin: 0 auto;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        ion-text {
            margin-bottom: 10px;
        }

        ion-icon {
            font-size: 55px;
        }
    }

    input#file-upload {
        display: none;
    }
}

.checkbox-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
