<div class="center-container container">
    <ion-card class="ion-no-margin form-card">
        <ion-card-content class="ion-no-margin">
            <ion-item-group>
                <ion-card-title class="ion-margin-bottom"
                    >Noten als CSV importieren</ion-card-title
                >
                <ion-item lines="none">
                    <input
                        type="file"
                        (change)="loadFile($event)"
                        accept="text/csv"
                    />
                </ion-item>
                <ion-item lines="none">
                    <ion-checkbox
                        color="secondary"
                        slot="start"
                        checked="true"
                        [(ngModel)]="keepGrades"
                    ></ion-checkbox>
                    <ion-label class="ion-text-wrap checkbox-label"
                        >Bestehende Noten behalten</ion-label
                    >
                </ion-item>
            </ion-item-group>
            <div class="ion-text-center">
                <ion-button
                    color="secondary"
                    [disabled]="!file"
                    (click)="importGrades()"
                >
                    Importieren
                </ion-button>
                <ion-button
                    [routerLink]="['../../home']"
                    fill="clear"
                    color="medium"
                >
                    Zurück
                </ion-button>
            </div>
        </ion-card-content>
    </ion-card>
</div>
