<ion-header [translucent]="true">
	<ion-toolbar mode="md">
		<ion-title color="primary" slot="start">
			<ion-icon name="school" color="primary" class="mr-2"></ion-icon>
			UniGrade
		</ion-title>
		<ion-buttons slot="end">
			<ion-text class="gpa"
				>GPA:
				<span class="gpa">{{currentGPA | number: '1.1-1'}}</span></ion-text
			>
			<ion-text class="credits"
				>Credits: <span class="credits">{{totalEcts | number}}</span></ion-text
			>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="container ion-margin-top">
		<ion-toolbar *ngIf="currentGrades?.length">
			<ion-searchbar
				showCancelButton="focus"
				inputmode="text"
				[(ngModel)]="searchTerm"
				(ionChange)="getFilteredGrades()"
			></ion-searchbar>
			<ion-buttons slot="end">
				<ion-button
					color="primary"
					title="Export as CSV"
					(click)="exportGradesAsCsv()"
				>
					<ion-icon name="download-outline"></ion-icon>
				</ion-button>
			</ion-buttons>
		</ion-toolbar>
		<ion-grid class="grade-card-container" *ngIf="currentGrades?.length">
			<ion-row>
				<ion-col
					*ngFor="let gradeEntry of currentGrades"
					size="12"
					size-md="6"
					size-lg="4"
				>
					<app-grade-card
						[gradeEntry]="gradeEntry"
						[counts]="gradeEntry.counts"
						(editClicked)="onNavigate(gradeEntry)"
						(deleteClicked)="deleteGrade(gradeEntry)"
						(countsClicked)="updateCounts(gradeEntry, $event)"
					></app-grade-card>
				</ion-col>
			</ion-row>
		</ion-grid>
		<div
			*ngIf="!currentGrades?.length"
			class="center-container ion-text-center"
		>
			<div>

			</div>
			<ion-card>
				<ion-card-content class="flex-column">
					<div class="ion-margin-bottom">
						<ion-text>
							No grades yet!
						</ion-text>
					</div>
					<ion-button color="primary" [routerLink]="['../../create-edit']" class="ion-margin-bottom">
						<ion-icon name="add-outline" class="ion-margin-end"></ion-icon>
						Add grade
					</ion-button><br>
					<ion-button color="primary" [routerLink]="['../../import']">
						<ion-icon name="push-outline" class="ion-margin-end"></ion-icon>
						Import grades
					</ion-button>
				</ion-card-content>
			</ion-card>
		</div>
	</div>
</ion-content>
