.fab-btn {
  --box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.2);
  margin: 0 0 0 8px;

  &--white {
	--background: white;
  }
}

ion-toolbar {
  --background: var(--ion-color-light);
}

ion-searchbar {
padding: 0;
  background-color: white;
  --box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.2);
}

div.container.center-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

div.container {
  overflow: auto;
}

