.fab-btn {
    --box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.2);
    margin: 0 0 0 8px;

    &--white {
        --background: var(--ion-card-background);
    }
}

ion-toolbar {
    --background: var(--ion-color-light);
    margin: 10px 0;
}

ion-searchbar {
    --background: var(--ion-card-background);
    padding: 0;
    background-color: var(--ion-card-background);
    --box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.2);
}

div.container.center-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

div.container {
    overflow: auto;
}
