.gpa-card {
  color: var(--ion-color-dark);
  font-weight: bolder;
  font-size: 1rem;
}

ion-searchbar {
  padding-left: 10px;
  padding-right: 10px;
  --box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.2);
}

div.container.center-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
